<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dao" class="fr.insset.gestionQCM.dao.UserDAOImpl"></bean>
<bean id="metier" class="fr.insset.gestionQCM.metier.UserMetierImpl">
	<property name="daoUser" ref="dao" ></property>
</bean>

<bean id="groupeDaoImpl" class="fr.insset.gestionQCM.dao.GroupeDAOImpl"></bean>
<bean id="groupeMetier" class="fr.insset.gestionQCM.metier.GroupeMetierImpl">
	<property name="groupeDao" ref="groupeDaoImpl"></property>
</bean>

<bean id="qcmDaoImpl" class="fr.insset.gestionQCM.dao.QcmDAOImpl"></bean>
<bean id="qcmMetier" class="fr.insset.gestionQCM.metier.QcmMetierImpl">
	<property name="qcmDao" ref="qcmDaoImpl"></property>
</bean>


<bean id="ThemeDaoImpl"  class="fr.insset.gestionQCM.dao.ThemeDAOImpl"></bean>
<bean id="ThemeMetier" class="fr.insset.gestionQCM.metier.ThemeMetierImpl">
<property name="themeDao" ref="ThemeDaoImpl"></property>
</bean>
</beans>
