<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qcm_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">rootroot</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="hbm2ddl.auto">create</property>
        
         <mapping class="fr.insset.gestionQCM.dao.entity.Auteur" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Etudiant" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Groupe" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Resultat" />
        
        <mapping class="fr.insset.gestionQCM.dao.entity.Commentaire" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Page" />
  

        <mapping class="fr.insset.gestionQCM.dao.entity.Role" />
        <mapping class="fr.insset.gestionQCM.dao.entity.EtudiantChoix" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Reponse" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Theme" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Qcm" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Question" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Utilisateur" />
        <mapping class="fr.insset.gestionQCM.dao.entity.Session" />
    </session-factory>
</hibernate-configuration>
